body {
  background-color: aquamarine;
}

table {
  border: 1px solid #999;
  border-collapse: collapse;

  td, th {
    border: 1px solid #999;
    border-collapse: collapse;
    padding: 5px 10px;
  }
}
